html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaBlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaItalic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaLightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaMediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
body {
  width: 100%;
  display: flex;
  flex-direction: row;
}
body .general-menu {
  position: relative;
  background-color: black;
  min-width: 270px;
  max-height: 100%;
}
body .general-menu header {
  height: 84px;
}
body .general-menu header h1 {
  position: relative;
  padding: 30px 65px;
  font-family: Helvetica;
  font-size: 16px;
  color: #ffffff;
  line-height: 24px;
  width: 87px;
  height: 24px;
}
body .general-menu header h1::after {
  content: "";
  position: absolute;
  background-image: url("../../assets/Logo.svg");
  width: 21.6px;
  height: 18.9px;
  left: 30.4px;
  top: 32.5px;
}
body .general-menu header h1::before {
  content: "";
  position: absolute;
  background-image: url("../../assets/Search.svg");
  width: 16px;
  height: 16px;
  left: 234px;
  top: 33px;
}
body .general-menu .body .product-owner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 93px;
  height: 80px;
  background: #202020;
}
body .general-menu .body .product-owner .name {
  position: relative;
  font-family: Helvetica;
  font-size: 14px;
  color: #ffffff;
  line-height: 17px;
}
body .general-menu .body .product-owner .name::before {
  content: "";
  position: absolute;
  background-image: url("../../assets/face.jpg");
  width: 48px;
  height: 48px;
  border-radius: 50%;
  left: -63px;
  top: -9px;
}
body .general-menu .body .product-owner .owner {
  margin-top: 2px;
  font-family: Helvetica;
  font-size: 12px;
  color: #9b9b9b;
  line-height: 14px;
}
body .general-menu .body .product-owner .dot-block {
  position: absolute;
  display: flex;
  left: 226px;
}
body .general-menu .body .product-owner .dot-block .dot {
  margin: 2px;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: gray;
}
body .general-menu .body .tasks {
  margin: 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .general-menu .body .tasks h2 {
  width: 35px;
  height: 27px;
  line-height: 24px;
  font-family: Helvetica;
  font-size: 20px;
  color: #ffffff;
}
body .general-menu .body .tasks p {
  line-height: 14px;
  opacity: 0.5;
  font-family: Helvetica;
  font-size: 12px;
  color: #ffffff;
}
body .general-menu .body .navigation {
  height: 135px;
  margin: 30px 30px 0px;
}
body .general-menu .body .navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .general-menu .body .navigation ul .menu {
  font-family: Helvetica;
  font-size: 12px;
  color: #878787;
  line-height: 18px;
}
body .general-menu .body .navigation ul a {
  font-family: Helvetica;
  font-size: 14px;
  color: #ffffff;
  line-height: 22px;
  text-decoration: none;
}
body .general-menu .body .navigation ul .text {
  display: flex;
  justify-content: space-between;
  width: 110px;
}
body .general-menu .body .navigation ul .text p {
  width: 20px;
  height: 20px;
  background-color: #ffc200;
  border-radius: 10px;
  font-family: Helvetica;
  font-size: 13px;
  color: #131313;
  text-align: center;
}
body .content {
  width: 100%;
  max-height: 100%;
}
body .content header {
  height: 136px;
  background: #ffffff;
}
body .content header .name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .content header .name .block-name {
  margin: 35px 85px 0;
  display: flex;
  justify-content: space-between;
  width: 310px;
}
body .content header .name .block-name h1 {
  position: relative;
  width: 265px;
  height: 43px;
  font-family: Helvetica;
  font-size: 32px;
  color: #131313;
}
body .content header .name .block-name h1::before {
  content: "";
  position: absolute;
  background-image: url("../../assets/Shapes.png");
  background-size: cover;
  left: -60px;
  top: -5px;
  width: 40px;
  height: 40px;
  background-color: orange;
  border-radius: 8px;
}
body .content header .name .block-name .aditional-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  background-color: #b8aeae;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
body .content header .name .block-name .aditional-block .dot {
  margin: 2px;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: gray;
}
body .content header .name .right-menu {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  width: 278px;
}
body .content header .name .right-menu .icon-block {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
  width: 100px;
}
body .content header .name .right-menu .icon-block .icon {
  position: relative;
}
body .content header .name .right-menu .icon-block .icon::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: -30px;
  border-radius: 15px;
  background-image: url("../../assets/face.jpg");
}
body .content header .name .right-menu .icon-block .icon1 {
  position: relative;
}
body .content header .name .right-menu .icon-block .icon1::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: -30px;
  border-radius: 15px;
  background-image: url("../../assets/face.jpg");
}
body .content header .name .right-menu .icon-block .icon2 {
  position: relative;
}
body .content header .name .right-menu .icon-block .icon2::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: -30px;
  border-radius: 15px;
  background-image: url("../../assets/face.jpg");
}
body .content header .name .right-menu .share {
  background: #eaeaea;
  width: 67px;
  font-family: Helvetica;
  font-size: 14px;
  margin-top: 45px;
  border-radius: 15px;
  height: 30px;
  border: none;
}
body .content header .name .right-menu .chat {
  position: relative;
  width: 81px;
  height: 30px;
  margin-top: 45px;
  background: #fff8dd;
  border-radius: 15px;
  border: none;
  font-family: Helvetica;
  font-size: 14px;
  color: #ffc200;
  padding-left: 30px;
}
body .content header .name .right-menu .chat::before {
  content: "";
  position: absolute;
  background-image: url("../../assets/message.png");
  width: 20px;
  height: 20px;
}
body .content header .interface {
  margin: 22px 30px;
  max-width: 401px;
}
body .content header .interface ul {
  display: flex;
  justify-content: space-between;
}
body .content header .interface ul a {
  text-decoration: none;
  opacity: 0.7;
  font-family: Helvetica;
  font-size: 16px;
  color: #131313;
}
body .content header .interface .activity {
  position: relative;
  font-family: Helvetica;
  font-size: 16px;
  color: #131313;
}
body .content header .interface .activity::after {
  position: absolute;
  content: "";
  width: 55px;
  height: 2px;
  background: #ffc200;
  top: 34px;
  left: -1px;
}
body .content .body {
  max-height: 100%;
  padding-top: 30px;
  background-color: #d6cece;
}
body .content .body .body-content {
  margin: auto;
  width: 730px;
  height: 591px;
  background: #ffffff;
  border-radius: 8px;
}
body .content .body .body-content h2 {
  padding-top: 35px;
  opacity: 0.5;
  font-family: Helvetica;
  font-size: 14px;
  color: #131313;
  width: 45px;
  height: 19px;
  margin: 30px 35px 0px;
}
body .content .body .body-content .text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 551px;
  height: 340px;
  margin-left: 90px;
}
body .content .body .body-content .text p {
  font-family: Helvetica;
  font-size: 16px;
  color: #131313;
  line-height: 20px;
}
body .content .body .body-content .text h4 {
  padding: 30px 30px;
  font-family: Helvetica;
  font-size: 15px;
  color: #131313;
  background-color: #f7f6f3;
  border-radius: 10px;
  width: 492px;
}
body .content .body .body-content .text h4 p {
  width: 492px;
}
body .content .body .body-content .text .time {
  opacity: 0.7;
  font-family: Helvetica;
  font-size: 14px;
  color: #131313;
  line-height: 20px;
}
body .content .body .body-content .text .text-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 610px;
}
body .content .body .body-content .text .text-1 .darika {
  position: relative;
  width: 445px;
}
body .content .body .body-content .text .text-1 .darika::after {
  position: absolute;
  content: "";
  background: #cef9c6;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  top: 0px;
  left: -60px;
}
body .content .body .body-content .text .text-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 610px;
}
body .content .body .body-content .text .text-2 .emilee {
  position: relative;
  width: 461px;
}
body .content .body .body-content .text .text-2 .emilee::after {
  position: absolute;
  content: "";
  background: #fff8dd;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  top: 0px;
  left: -60px;
}
body .content .body .body-content .text .text-3 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 610px;
}
body .content .body .body-content .text .text-3 .darika-2 {
  position: relative;
  width: 461px;
}
body .content .body .body-content .text .text-3 .darika-2::after {
  position: absolute;
  content: "";
  background: #e3efff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  top: 0px;
  left: -60px;
}
body .content .body .body-content .block-img {
  margin-left: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 492px;
}
body .content .body .body-content .block-img .img-1 {
  background-image: url("../../assets/image.jpg");
  width: 100px;
  height: 100px;
  border-radius: 8px;
}
body .content .body .body-content .block-img .img-2 {
  background-image: url("../../assets/image.jpg");
  width: 100px;
  height: 100px;
  border-radius: 8px;
}
body .content .body .body-content .block-img .img-3 {
  background-image: url("../../assets/image.jpg");
  width: 100px;
  height: 100px;
  border-radius: 8px;
}
body .content .body .body-content .block-img .img-4 {
  background-image: url("../../assets/image.jpg");
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

/*# sourceMappingURL=index.css.map */
