html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaBlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaItalic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaLightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaMediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/HelveticaThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
body {
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
}
body .general-menu {
  position: relative;
  background-color: black;
  min-width: 270px;
}
body .general-menu .projectus {
  height: 84px;
}
body .general-menu .projectus h1 {
  position: relative;
  padding: 30px 65px;
  font-family: Helvetica;
  font-size: 16px;
  color: #ffffff;
  line-height: 24px;
  width: 87px;
  height: 24px;
}
body .general-menu .projectus h1::after {
  content: "";
  position: absolute;
  background-image: url("../../assets/Logo.svg");
  cursor: pointer;
  width: 21.6px;
  height: 18.9px;
  left: 30.4px;
  top: 32.5px;
}
@media (max-width: 425px) {
  body .general-menu .projectus h1::after {
    left: 0px;
  }
}
body .general-menu .projectus h1::before {
  content: "";
  position: absolute;
  background-image: url("../../assets/Search.svg");
  cursor: pointer;
  width: 16px;
  height: 16px;
  left: 234px;
  top: 33px;
}
@media (max-width: 768px) {
  body .general-menu .projectus {
    height: 84px;
    margin: auto;
  }
}
body .general-menu .body .product-owner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 93px;
  height: 80px;
  background: #202020;
}
body .general-menu .body .product-owner .name {
  position: relative;
  font-family: Helvetica;
  font-size: 14px;
  color: #ffffff;
  line-height: 17px;
}
body .general-menu .body .product-owner .name::before {
  content: "";
  position: absolute;
  background-image: url("../../assets/face.jpg");
  background-size: cover;
  background-position: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  left: -63px;
  top: -9px;
}
@media (max-width: 425px) {
  body .general-menu .body .product-owner .name::before {
    left: -100px;
  }
}
@media (max-width: 320px) {
  body .general-menu .body .product-owner .name::before {
    left: -65px;
  }
}
body .general-menu .body .product-owner .owner {
  margin-top: 2px;
  font-family: Helvetica;
  font-size: 12px;
  color: #9b9b9b;
  line-height: 14px;
}
body .general-menu .body .product-owner .dot-block {
  position: absolute;
  display: flex;
  left: 226px;
  cursor: pointer;
}
body .general-menu .body .product-owner .dot-block .dot {
  margin: 2px;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: gray;
}
@media (max-width: 425px) {
  body .general-menu .body .product-owner .dot-block {
    left: 300px;
  }
}
@media (max-width: 320px) {
  body .general-menu .body .product-owner .dot-block {
    left: 220px;
  }
}
@media (max-width: 1024px) {
  body .general-menu .body .product-owner {
    width: 210px;
    margin: 0px 20px 10px 20px;
  }
}
@media (max-width: 425px) {
  body .general-menu .body .product-owner {
    width: 100%;
    padding-left: 135px;
  }
}
@media (max-width: 320px) {
  body .general-menu .body .product-owner {
    width: 100%;
    padding-left: 80px;
  }
}
body .general-menu .body .tasks {
  margin: 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .general-menu .body .tasks h2 {
  width: 35px;
  height: 27px;
  line-height: 24px;
  font-family: Helvetica;
  font-size: 20px;
  color: #ffffff;
}
@media (max-width: 425px) {
  body .general-menu .body .tasks h2 {
    font-size: 15px;
  }
}
body .general-menu .body .tasks p {
  line-height: 14px;
  opacity: 0.5;
  font-family: Helvetica;
  font-size: 12px;
  color: #ffffff;
}
@media (max-width: 425px) {
  body .general-menu .body .tasks p {
    font-size: 10px;
  }
}
@media (max-width: 1024px) {
  body .general-menu .body .tasks {
    height: 100%;
    width: 210px;
  }
}
@media (max-width: 953px) {
  body .general-menu .body .tasks {
    margin: auto;
  }
}
@media (max-width: 768px) {
  body .general-menu .body .tasks {
    margin: auto;
  }
}
body .general-menu .body .navigation {
  height: 135px;
  margin: 30px 30px 0px;
}
body .general-menu .body .navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .general-menu .body .navigation ul .menu {
  font-family: Helvetica;
  font-size: 12px;
  color: #878787;
  line-height: 18px;
}
@media (max-width: 425px) {
  body .general-menu .body .navigation ul .menu {
    font-size: 11px;
  }
}
body .general-menu .body .navigation ul a {
  font-family: Helvetica;
  font-size: 14px;
  color: #ffffff;
  line-height: 22px;
  text-decoration: none;
}
@media (max-width: 425px) {
  body .general-menu .body .navigation ul a {
    font-size: 12px;
  }
}
body .general-menu .body .navigation ul .text {
  display: flex;
  justify-content: space-between;
  width: 110px;
}
body .general-menu .body .navigation ul .text p {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #ffc200;
  border-radius: 10px;
  font-family: Helvetica;
  font-size: 13px;
  color: #131313;
}
@media (max-width: 425px) {
  body .general-menu .body .navigation ul .text p {
    font-size: 11px;
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 1024px) {
  body .general-menu .body .navigation ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 1024px) {
  body .general-menu .body .navigation {
    height: 100%;
    width: 300px;
  }
}
@media (max-width: 953px) {
  body .general-menu .body .navigation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 10px;
  }
}
@media (max-width: 768px) {
  body .general-menu .body .navigation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 10px;
  }
}
@media (max-width: 425px) {
  body .general-menu .body .navigation {
    margin: 15px 10px 0px;
  }
}
@media (max-width: 1024px) {
  body .general-menu .body {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
}
@media (max-width: 1024px) {
  body .general-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
body .content {
  width: 100%;
}
body .content header {
  height: 136px;
  background: #ffffff;
}
body .content header .name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .content header .name .block-name {
  margin: 35px 85px 0;
  display: flex;
  justify-content: space-between;
  width: 310px;
}
body .content header .name .block-name h1 {
  position: relative;
  width: 265px;
  height: 43px;
  font-family: Helvetica;
  font-size: 32px;
  color: #131313;
}
body .content header .name .block-name h1::before {
  content: "";
  position: absolute;
  background-image: url("../../assets/Shapes.png");
  background-size: cover;
  cursor: pointer;
  left: -60px;
  top: -5px;
  width: 40px;
  height: 40px;
  background-color: orange;
  border-radius: 8px;
}
@media (max-width: 768px) {
  body .content header .name .block-name h1::before {
    left: -45px;
  }
}
@media (max-width: 320px) {
  body .content header .name .block-name h1::before {
    display: none;
  }
}
@media (max-width: 768px) {
  body .content header .name .block-name h1 {
    font-size: 25px;
    width: 210px;
  }
}
body .content header .name .block-name .aditional-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  background-color: #b8aeae;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
body .content header .name .block-name .aditional-block .dot {
  margin: 2px;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: gray;
}
@media (max-width: 425px) {
  body .content header .name .block-name .aditional-block .dot {
    width: 2px;
    height: 2px;
  }
}
@media (max-width: 425px) {
  body .content header .name .block-name .aditional-block {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 768px) {
  body .content header .name .block-name {
    margin: 15px 60px 0px;
    width: 250px;
  }
}
body .content header .name .right-menu {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  width: 278px;
  margin-top: 45px;
}
body .content header .name .right-menu .icon-block {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
body .content header .name .right-menu .icon-block .icon {
  position: relative;
}
body .content header .name .right-menu .icon-block .icon::before {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  left: -30px;
  border-radius: 15px;
  background-image: url("../../assets/peaple.png");
  background-size: cover;
}
@media (max-width: 320px) {
  body .content header .name .right-menu .icon-block .icon::before {
    left: -9px;
  }
}
body .content header .name .right-menu .icon-block .icon1 {
  position: relative;
}
body .content header .name .right-menu .icon-block .icon1::before {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  left: -30px;
  border-radius: 15px;
  background-image: url("../../assets/people1.jpg");
  background-size: cover;
}
@media (max-width: 320px) {
  body .content header .name .right-menu .icon-block .icon1::before {
    left: -23px;
  }
}
body .content header .name .right-menu .icon-block .icon2 {
  position: relative;
}
body .content header .name .right-menu .icon-block .icon2::before {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  left: -30px;
  border-radius: 15px;
  background-image: url("../../assets/people2.jpg");
  background-size: cover;
}
@media (max-width: 320px) {
  body .content header .name .right-menu .icon-block .icon2::before {
    left: -37px;
  }
}
body .content header .name .right-menu .share {
  background: #eaeaea;
  width: 67px;
  cursor: pointer;
  font-family: Helvetica;
  font-size: 14px;
  border-radius: 15px;
  height: 30px;
  border: none;
}
body .content header .name .right-menu .chat {
  position: relative;
  width: 81px;
  height: 30px;
  cursor: pointer;
  background: #fff8dd;
  border-radius: 15px;
  border: none;
  font-family: Helvetica;
  font-size: 14px;
  color: #ffc200;
  padding-left: 30px;
}
body .content header .name .right-menu .chat::before {
  content: "";
  position: absolute;
  cursor: pointer;
  background-image: url("../../assets/Combined-Shape@1x.svg");
  background-size: cover;
  background-position: auto;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 5px;
}
@media (max-width: 768px) {
  body .content header .name .right-menu {
    margin-top: 20px;
    padding-left: 50px;
  }
}
@media (max-width: 320px) {
  body .content header .name .right-menu {
    padding-left: 25px;
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  body .content header .name {
    flex-wrap: wrap;
  }
}
@media (max-width: 425px) {
  body .content header .name {
    justify-content: center;
  }
}
body .content header .interface {
  margin: 22px 30px;
  max-width: 401px;
}
body .content header .interface ul {
  display: flex;
  justify-content: space-between;
}
body .content header .interface ul a {
  text-decoration: none;
  opacity: 0.7;
  font-family: Helvetica;
  font-size: 16px;
  color: #131313;
}
@media (max-width: 425px) {
  body .content header .interface ul {
    justify-content: space-around;
  }
}
body .content header .interface .activity {
  position: relative;
  font-family: Helvetica;
  font-size: 16px;
  color: #131313;
}
body .content header .interface .activity::after {
  position: absolute;
  content: "";
  width: 55px;
  height: 2px;
  background: #ffc200;
  top: 34px;
  left: -1px;
}
@media (max-width: 768px) {
  body .content header .interface {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 100%;
  }
}
@media (max-width: 768px) {
  body .content header {
    height: 100%;
  }
}
body .content .body {
  height: calc(100vh - 168px);
  background-color: #d6cece;
  padding-top: 30px;
}
body .content .body .body-content {
  margin: auto;
  width: 700px;
  height: 591px;
  background: #ffffff;
  border-radius: 8px;
  padding-left: 90px;
}
body .content .body .body-content h2 {
  padding-top: 35px;
  opacity: 0.5;
  font-family: Helvetica;
  font-size: 14px;
  color: #131313;
  width: 45px;
  height: 19px;
  margin: 30px 0px 0px;
}
@media (max-width: 768px) {
  body .content .body .body-content h2 {
    margin: 0px;
    padding-top: 10px;
  }
}
body .content .body .body-content .text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 551px;
  height: 340px;
}
body .content .body .body-content .text p {
  font-family: Helvetica;
  font-size: 16px;
  color: #131313;
  line-height: 20px;
}
@media (max-width: 768px) {
  body .content .body .body-content .text p {
    font-size: 13px;
  }
}
body .content .body .body-content .text h4 {
  padding: 30px 33px;
  font-family: Helvetica;
  font-size: 15px;
  color: #131313;
  background-color: #f7f6f3;
  border-radius: 10px;
  width: 485px;
}
@media (max-width: 768px) {
  body .content .body .body-content .text h4 {
    width: 310px;
    padding: 10px 10px;
    font-size: 13px;
    margin: 20px 0px 0px;
  }
}
@media (max-width: 375px) {
  body .content .body .body-content .text h4 {
    width: 245px;
  }
}
@media (max-width: 320px) {
  body .content .body .body-content .text h4 {
    width: 200px;
  }
}
body .content .body .body-content .text .time {
  opacity: 0.7;
  font-family: Helvetica;
  font-size: 14px;
  color: #131313;
  line-height: 20px;
}
@media (max-width: 768px) {
  body .content .body .body-content .text .time {
    font-size: 12px;
  }
}
body .content .body .body-content .text .text-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 610px;
}
body .content .body .body-content .text .text-1 .darika {
  position: relative;
  width: 445px;
}
body .content .body .body-content .text .text-1 .darika::after {
  position: absolute;
  content: "";
  background: #cef9c6;
  background-image: url("../../assets/check-mark.png");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  top: 0px;
  left: -60px;
}
@media (max-width: 768px) {
  body .content .body .body-content .text .text-1 .darika::after {
    left: -40px;
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 768px) {
  body .content .body .body-content .text .text-1 .darika {
    width: 320px;
  }
}
@media (max-width: 435px) {
  body .content .body .body-content .text .text-1 .darika {
    width: 280px;
  }
}
@media (max-width: 375px) {
  body .content .body .body-content .text .text-1 .darika {
    width: 250px;
  }
}
@media (max-width: 320px) {
  body .content .body .body-content .text .text-1 .darika {
    width: 210px;
  }
}
@media (max-width: 768px) {
  body .content .body .body-content .text .text-1 {
    width: 380px;
    margin-top: 20px;
  }
}
@media (max-width: 435px) {
  body .content .body .body-content .text .text-1 {
    width: 345px;
  }
}
@media (max-width: 375px) {
  body .content .body .body-content .text .text-1 {
    width: 310px;
  }
}
@media (max-width: 320px) {
  body .content .body .body-content .text .text-1 {
    width: 260px;
  }
}
body .content .body .body-content .text .text-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 610px;
}
body .content .body .body-content .text .text-2 .emilee {
  position: relative;
  width: 461px;
}
body .content .body .body-content .text .text-2 .emilee::after {
  position: absolute;
  content: "";
  background: #fff8dd;
  background-image: url("../../assets/message.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  top: 0px;
  left: -60px;
}
@media (max-width: 768px) {
  body .content .body .body-content .text .text-2 .emilee::after {
    left: -40px;
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 768px) {
  body .content .body .body-content .text .text-2 .emilee {
    width: 320px;
  }
}
@media (max-width: 435px) {
  body .content .body .body-content .text .text-2 .emilee {
    width: 280px;
  }
}
@media (max-width: 375px) {
  body .content .body .body-content .text .text-2 .emilee {
    width: 250px;
  }
}
@media (max-width: 320px) {
  body .content .body .body-content .text .text-2 .emilee {
    width: 210px;
  }
}
@media (max-width: 768px) {
  body .content .body .body-content .text .text-2 {
    width: 380px;
    margin-top: 20px;
  }
}
@media (max-width: 435px) {
  body .content .body .body-content .text .text-2 {
    width: 345px;
  }
}
@media (max-width: 375px) {
  body .content .body .body-content .text .text-2 {
    width: 310px;
  }
}
@media (max-width: 320px) {
  body .content .body .body-content .text .text-2 {
    width: 260px;
  }
}
body .content .body .body-content .text .text-3 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 610px;
}
body .content .body .body-content .text .text-3 .darika-2 {
  position: relative;
  width: 456px;
}
body .content .body .body-content .text .text-3 .darika-2::after {
  position: absolute;
  content: "";
  background: #e3efff;
  background-image: url("../../assets/download.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  top: 0px;
  left: -60px;
}
@media (max-width: 768px) {
  body .content .body .body-content .text .text-3 .darika-2::after {
    left: -40px;
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 768px) {
  body .content .body .body-content .text .text-3 .darika-2 {
    width: 320px;
    margin-bottom: 10px;
  }
}
@media (max-width: 435px) {
  body .content .body .body-content .text .text-3 .darika-2 {
    width: 280px;
  }
}
@media (max-width: 375px) {
  body .content .body .body-content .text .text-3 .darika-2 {
    width: 250px;
  }
}
@media (max-width: 320px) {
  body .content .body .body-content .text .text-3 .darika-2 {
    width: 210px;
  }
}
@media (max-width: 768px) {
  body .content .body .body-content .text .text-3 {
    width: 380px;
    margin-top: 20px;
  }
}
@media (max-width: 435px) {
  body .content .body .body-content .text .text-3 {
    width: 345px;
  }
}
@media (max-width: 375px) {
  body .content .body .body-content .text .text-3 {
    width: 310px;
  }
}
@media (max-width: 320px) {
  body .content .body .body-content .text .text-3 {
    width: 260px;
  }
}
@media (max-width: 768px) {
  body .content .body .body-content .text {
    height: auto;
  }
}
body .content .body .body-content .block-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 410px;
}
body .content .body .body-content .block-img .img {
  width: 90px;
  height: 90px;
  border-radius: 8px;
}
@media (max-width: 435px) {
  body .content .body .body-content .block-img .img {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 320px) {
  body .content .body .body-content .block-img .img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 768px) {
  body .content .body .body-content .block-img {
    padding-right: 30px;
    width: 380px;
    padding-bottom: 30px;
  }
}
@media (max-width: 435px) {
  body .content .body .body-content .block-img {
    width: 320px;
  }
}
@media (max-width: 375px) {
  body .content .body .body-content .block-img {
    width: 280px;
  }
}
@media (max-width: 320px) {
  body .content .body .body-content .block-img {
    width: 220px;
  }
}
@media (max-width: 870px) {
  body .content .body .body-content {
    width: 630px;
    padding-left: 80px;
  }
}
@media (max-height: 800px) {
  body .content .body .body-content {
    height: 520px;
  }
}
@media (max-width: 768px) {
  body .content .body .body-content {
    width: 440px;
    height: 100%;
    padding-left: 50px;
  }
}
@media (max-width: 1024px) {
  body .content .body {
    padding-top: 1px;
  }
}
@media (max-width: 768px) {
  body .content .body {
    padding: 0px;
    background-color: white;
  }
}
@media (max-width: 1024px) {
  body {
    flex-direction: column;
  }
}

/*# sourceMappingURL=index.css.map */
